<div class="section s_07">

  <div class="accordion_one">
    <div class="accordion_header"><input type="checkbox" name="" value="1">人間<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="1.1">生活<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="1.1.1">散歩</div>
            <div class="accordion_header"><input type="checkbox" name="" value="1.1.2">ぼーっとする</div>
          </div>
        </div>
      </div>
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="1.2">人間関係<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="1.2.1">SNS</div>
            <div class="accordion_header"><input type="checkbox" name="" value="1.2.2">友達</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion_one">
    <div class="accordion_header"><input type="checkbox" name="" value="2">学校<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="2.1">国語<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="2.1.1">走れメロス</div>
            <div class="accordion_header"><input type="checkbox" name="" value="2.1.2">山月記</div>
          </div>
        </div>
      </div>
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="2.2">英語<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="2.2.1">B_a</div>
            <div class="accordion_header"><input type="checkbox" name="" value="2.2.2">B_b</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion_one">
    <div class="accordion_header"><input type="checkbox" name="" value="3">本<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="3.1">小説<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="3.1.1">君の膵臓を食べたい</div>
            <div class="accordion_header"><input type="checkbox" name="" value="3.1.2">火花</div>
          </div>
        </div>
      </div>
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="3.2">論評<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="3.2.1">B_a</div>
            <div class="accordion_header"><input type="checkbox" name="" value="3.2.2">B_b</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion_one">
    <div class="accordion_header"><input type="checkbox" name="" value="4">映画<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="4.1">ラブコメディ<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="4.1.1">余命10年</div>
            <div class="accordion_header"><input type="checkbox" name="" value="4.1.2">花束みたいな恋をした</div>
          </div>
        </div>
      </div>
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="4.2">仲間<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="4.2.1">ショーシャンクの空に</div>
            <div class="accordion_header"><input type="checkbox" name="" value="4.2.2">B_b</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion_one">
    <div class="accordion_header"><input type="checkbox" name="" value="5">音楽<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="5.1">J-POP<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="5.1.1">あいみょん</div>
            <div class="accordion_header"><input type="checkbox" name="" value="5.1.2">星野源</div>
          </div>
        </div>
      </div>
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="5.2">K-POP<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="5.2.1">TWICE</div>
            <div class="accordion_header"><input type="checkbox" name="" value="5.2.2">BTS</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion_one">
    <div class="accordion_header"><input type="checkbox" name="" value="6">テクノロジー<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="6.1">スマホ<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="6.1.1">A_a</div>
            <div class="accordion_header"><input type="checkbox" name="" value="6.1.2">A_b</div>
          </div>
        </div>
      </div>
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="6.2">最新技術<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="6.2.1">VR</div>
            <div class="accordion_header"><input type="checkbox" name="" value="6.2.2">ブロックチェーン</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion_one">
    <div class="accordion_header"><input type="checkbox" name="" value="7">日本<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="7.1">制度<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="7.1.1">A_a</div>
            <div class="accordion_header"><input type="checkbox" name="" value="7.1.2">A_b</div>
          </div>
        </div>
      </div>
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="7.2">国民性<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="7.2.1">B_a</div>
            <div class="accordion_header"><input type="checkbox" name="" value="7.2.2">B_b</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion_one">
    <div class="accordion_header"><input type="checkbox" name="" value="8">自然<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="8.1">生物<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="8.1.1">A_a</div>
            <div class="accordion_header"><input type="checkbox" name="" value="8.1.2">A_b</div>
          </div>
        </div>
      </div>
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="8.2">森林<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="8.2.1">B_a</div>
            <div class="accordion_header"><input type="checkbox" name="" value="8.2.2">B_b</div>
          </div>
        </div>
      </div>
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="8.3">海<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="8.3.1">B_a</div>
            <div class="accordion_header"><input type="checkbox" name="" value="8.3.2">B_b</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion_one">
    <div class="accordion_header"><input type="checkbox" name="" value="9">政治<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="9.1">選挙<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="9.1.1">A_a</div>
            <div class="accordion_header"><input type="checkbox" name="" value="9.1.2">A_b</div>
          </div>
        </div>
      </div>
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="9.2">政策<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="9.2.1">B_a</div>
            <div class="accordion_header"><input type="checkbox" name="" value="9.2.2">B_b</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion_one">
    <div class="accordion_header"><input type="checkbox" name="" value="10">愛<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="10.1">家族<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="10.1.1">A_a</div>
            <div class="accordion_header"><input type="checkbox" name="" value="10.1.2">A_b</div>
          </div>
        </div>
      </div>
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="10.2">恋人<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="10.2.1">B_a</div>
            <div class="accordion_header"><input type="checkbox" name="" value="10.2.2">B_b</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion_one">
    <div class="accordion_header"><input type="checkbox" name="" value="11">グローバル<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="11.1">アジア<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="11.1.1">日本</div>
            <div class="accordion_header"><input type="checkbox" name="" value="11.1.2">中国</div>
          </div>
        </div>
      </div>
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="11.2">ヨーロッパ<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="11.2.1">ウクライナ</div>
            <div class="accordion_header"><input type="checkbox" name="" value="11.2.2">イギリス</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion_one">
    <div class="accordion_header"><input type="checkbox" name="" value="12">コロナウイルス<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="12.1">ニュース<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="12.1.1">A_a</div>
            <div class="accordion_header"><input type="checkbox" name="" value="12.1.2">A_b</div>
          </div>
        </div>
      </div>
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="12.2">ワクチン<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="12.2.1">B_a</div>
            <div class="accordion_header"><input type="checkbox" name="" value="12.2.2">_b</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion_one">
    <div class="accordion_header"><input type="checkbox" name="" value="13">性<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="13.1">異性<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="13.1.1">A_a</div>
            <div class="accordion_header"><input type="checkbox" name="" value="13.1.2">A_b</div>
          </div>
        </div>
      </div>
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="13.2">同性<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="13.2.1">B_a</div>
            <div class="accordion_header"><input type="checkbox" name="" value="13.2.2">B_b</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion_one">
    <div class="accordion_header"><input type="checkbox" name="" value="14">戦争<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="14.1">20世紀前半<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="14.1.1">A_a</div>
            <div class="accordion_header"><input type="checkbox" name="" value="14.1.2">A_b</div>
          </div>
        </div>
      </div>
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="14.2">20世紀後半<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="14.2.1">B_a</div>
            <div class="accordion_header"><input type="checkbox" name="" value="14.2.2">B_b</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion_one">
    <div class="accordion_header"><input type="checkbox" name="" value="15">イベント<div class="i_box"><i class="one_i"></i></div></div>
    <div class="accordion_inner">
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="15.1">ライブ<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="15.1.1">A_a</div>
            <div class="accordion_header"><input type="checkbox" name="" value="15.1.2">A_b</div>
          </div>
        </div>
      </div>
      <div class="accordion_one">
        <div class="accordion_header"><input type="checkbox" name="" value="15.2">コンペティション<div class="i_box"><i class="one_i"></i></div></div>
        <div class="accordion_inner">
          <div class="accordion_one">
            <div class="accordion_header"><input type="checkbox" name="" value="15.2.1">B_a</div>
            <div class="accordion_header"><input type="checkbox" name="" value="15.2.2">B_b</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
// .s_07 .accordion_one
$(function(){
//.accordion_oneの中の.accordion_headerがクリックされたら
$('.s_07 .accordion_one .accordion_header').click(function(){
  //クリックされた.accordion_oneの中の.accordion_headerに隣接する.accordion_innerが開いたり閉じたりする。
  $(this).next('.accordion_inner').slideToggle();
  $(this).toggleClass("open");
});
});
</script>
