<div class="know-contents">
  <div class="see-action btn">
    <a href="/human-know" class="see-action-icon">
      <img src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
      <p>人間</p>
    </a>
  </div>
  <div class="see-action btn">
    <a href="/school-know" class="see-action-icon">
      <img src="https://img.icons8.com/bubbles/500/000000/classroom.png">
      <p>学校</p>
    </a>
  </div>
  <div class="see-action btn">
    <a href="book-know" class="see-action-icon">
      <img src="https://img.icons8.com/bubbles/500/000000/literature.png"/>
      <p>本</p>
    </a>
  </div>
  <div class="see-action btn">
    <a href="movie-know" class="see-action-icon">
      <img src="https://img.icons8.com/bubbles/500/000000/documentary.png"/>
      <p>映画</p>
    </a>
  </div>
  <div class="see-action btn">
    <a href="/music-know" class="see-action-icon">
      <img src="https://img.icons8.com/bubbles/500/000000/music.png"/>
      <p>音楽</p>
    </a>
  </div>
  <div class="see-action btn">
    <a href="/tech-know" class="see-action-icon">
      <img src="https://img.icons8.com/bubbles/500/000000/iphone.png"/>
      <p>テクノロジー</p>
    </a>
  </div>
  <div class="see-action btn">
    <a href="/japan-know" class="see-action-icon">
      <img src="https://img.icons8.com/bubbles/500/000000/japan.png"/>
      <p>日本</p>
    </a>
  </div>
  <div class="see-action btn">
    <a href="nature-know" class="see-action-icon">
      <img src="https://img.icons8.com/bubbles/500/000000/lake.png"/>
      <p>自然</p>
    </a>
  </div>
  <div class="see-action btn">
    <a href="policy-know" class="see-action-icon">
      <img src="https://img.icons8.com/bubbles/500/000000/elections.png"/>
      <p>政治</p>
    </a>
  </div>
  <div class="see-action btn">
    <a href="love-know" class="see-action-icon">
      <img src="https://img.icons8.com/bubbles/500/000000/like.png"/>
      <p>愛</p>
    </a>
  </div>
  <div class="see-action btn">
    <a href="global-know" class="see-action-icon">
      <img src="https://img.icons8.com/bubbles/500/000000/geography.png"/>
      <p>グローバル</p>
    </a>
  </div>
  <div class="see-action btn">
    <a href="corona-know" class="see-action-icon">
      <img src="https://img.icons8.com/bubbles/500/000000/partly-cloudy-night.png"/>
      <p>コロナウイルス</p>
    </a>
  </div>
  <div class="see-action btn">
    <a href="sei-know" class="see-action-icon">
      <img src="https://img.icons8.com/bubbles/500/000000/friends--v2.png"/>
      <p>性</p>
    </a>
  </div>
  <div class="see-action btn">
    <a href="battle-know" class="see-action-icon">
      <img src="https://img.icons8.com/bubbles/500/000000/explosion.png"/>
      <p>戦争</p>
    </a>
  </div>
  <div class="see-action btn">
    <a href="event-know" class="see-action-icon">
      <img src="https://img.icons8.com/bubbles/500/000000/daruma-doll.png"/>
      <p>イベント</p>
    </a>
  </div>
</div>
