<header>
  <div class="container">
    <div class="header-left">

    </div>
    <div class="header-right">
      <div id="humMenu">
        <input id="humCheck" type="checkbox">
        <label id="humOpen" for="humCheck"><span class = "fa fa-bars fa-2x"></span></label>
        <label id="humClose" for="humCheck"></label>
        <nav>
          <ul class="inner">
            <li><a href="/">TOP</a></li>
            <li><a href="#">みる</a></li>
            <li><a href="#">・</a></li>
            <li><a href="#">・</a></li>
            <li><a href="#">・</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
