<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>poster-model-select</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <%- include("header"); %>
    <div class="action-wrapper">
      <div class="container" id="board">
        <div>
          <form class="" action="poster-input-image" method="get">
            <div class="head-caption">
              <h2 id="theme">道徳</h2>
            </div>
            <div class="know-contents">
              <div class="see-action btn">
                <a href="/english-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>緊張からの解放</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/english-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>成長</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/society-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>挑戦</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/math-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>自己への気付き</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/science-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>マインドフルネス</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/all-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>希望</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/moral-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>主体的行動</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/info-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>熱中・没頭</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/helth-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>達成</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/japanese-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>関係作り</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/english-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>価値観の共有</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/society-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>感謝</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/math-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>あこがれ・尊敬</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/science-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>愛</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/all-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>親しい関係</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/moral-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>承認</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/info-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>祝福</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/helth-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>信頼</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/japanese-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>協調</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/english-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>社会貢献</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/society-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>思いやり</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/math-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>多様性</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/science-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>秩序</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/all-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>生命とのつながり</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/moral-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>時間を超えたつながり</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/info-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>自然とのつながり</p>
                </a>
              </div>
              <div class="see-action btn">
                <a href="/helth-know" class="see-action-icon">
                  <img class="see-contents" src="https://img.icons8.com/bubbles/500/000000/friends--v4.png"/>
                  <p>平和</p>
                </a>
              </div>
            </div>
            <div class="heads-caption">
              <h2 id = "message3">たくさんの視点が欲しい。</h2>
            </div>
          </form>

        </div>
        <a href = "/painting-know" class="back">戻る</a>
      </div>
    </div>
    <%- include("modaldal"); %>
  </body>
</html>
