<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>create-select</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src = "/send_url.js"></script>
  </head>
  <body>
    <%- include("header"); %>
    <div class="action-wrapper">
      <div class="container">
        <div class="head-caption">
          <h2>購入画面</h2>
        </div>
        <div class="actions">
          <h3>『epoch changer』：100p　　　　　利用可能ポイント：500p</h3>
          <img src="../images/smart.png">
        </div>
        <a href = "/" class="back">戻る</a>
        <a href="purchase-finish" class="next">購入する</a>
      </div>
    </div>
  </body>
</html>
