<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>poster-model-select</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <%- include("header"); %>
    <div class="action-wrapper">
      <div class="container" id="board">
        <div>
          <form class="" action="poster-input-image" method="get">
            <div class="head-caption">
              <h2 id="theme">性</h2>
            </div>
            <div>
              <a href="#" class="js-modal-open" data-target="modal01"><img class="see-contents" src="../images/vaccine.png"></img></a>
            </div>
            <div class="heads-caption">
              <h2 id = "message3">たくさんの視点が欲しい。</h2>
            </div>
          </form>

          <div id="modal01" class="modal js-modal">
            <div class="modal-bg js-modal-close">
            </div>
            <div class="modal-contents">
              <div class="modal-header">
              　　<h1>作品詳細</h1>
            　　　<span class="js-modal-close cross">×</span>
              　</div>
                <div class="modal-body">
                  <div class="lisence">
                    <h3>解説：性別と、妊娠。</h3>
                    <a href="/painting-comment">他の人の解釈を見る</a>
                    <p>What I am inspired：コロナワクチンの書類</p>
                    <p>制作者：RYOTA YAMAOKA</p>
                    <p><a href="/purchase">購入する</a>：100p</p>
                  </div>
                  <div class="ooo">
                    <img class="know-contents-modal" src="../images/vaccine.png"></img>
                  </div>
              　</div>
            </div>
          </div>

        </div>
        <a href = "/painting-know" class="back">戻る</a>
      </div>
    </div>
    <%- include("modaldal"); %>
  </body>
</html>
